<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/AboutAs.css">
 
    <title>About AS</title>
    <script>
      document.getElementById('nav2').style.display="none";
    </script>
</head>
<body>

    <div class="card mb-3"  id="Card">
  <div class="card-header"><h4><strong>Achref Hamda</strong></h4></div>
  <div class="card-body">
    <h5 class="card-title">Site creator</h5>
        <p class="card-text"> <br>At <strong> PetPal</strong>,our mission is to save and find loving homes for abandoned and mistreated animals. We are committed to providing a safe and enjoyable experience for potential adopters and to raising awareness about the importance of responsible animal adoption.</p>
  </div>
    </div>
    <div class="card mb-3" id="CardS">
  <div class="card-header"><h5><strong>Our Story</strong></h5></div>
  <div class="card-body">
    <p class="card-text">Founded in 2024 , PetPal is an online platform dedicated to promoting the adoption of pets. Since our inception, we have helped thousands of animals find loving homes and have worked closely with shelters and rescue organizations to raise awareness and combat animal abandonment.</p>
  </div>
</div>
 <div class="card  mb-3" id="CardS">
  <div class="card-header"><h5><strong>Our Values</strong></h5></div>
  <div class="card-body">
    <p class="card-text">
        <ul>
                <li><strong>Compassion:</strong> We are guided by a deep respect and compassion for all animals.</li>
                <li><strong>Commitment:</strong> We are committed to providing quality services and supporting our users at every step of the adoption process.</li>
                <li><strong>Transparency:</strong> We believe in transparency and honesty in all our interactions.</li>
                <li><strong>Responsibility:</strong> We are responsible to the animals we help and to our users.</li>
                <li><strong>Community:</strong> We value a community of adopters, volunteers, and professionals dedicated to the cause of responsible animal adoption.</li>
            </ul>
    </p>
  </div>
</div>
</body>
</html>