body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('images/—Pngtree—cat\ and\ dog\ pets\ in_3426222.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}